# MySQLサーバー設定
[mysqld]
# 文字コード設定
character-set-server=utf8
# タイムゾーン設定
log_timestamps=SYSTEM
# エラーログ設定
log-error=/var/log/mysql/mysql-error.log
# スロークエリログ設定
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=3
# 実行ログ設定
general_log=1
general_log_file=/var/log/mysql/mysql-query.log
# TIMESTAMPカラムでNULL値の処理を有効にするかどうかを決定
explicit_defaults_for_timestamp=true
# 1パケットの最大サイズ: 1024~1073741824
# max_allowed_packet=8M
# データインポート/エクスポート操作の影響を制限
secure-file-priv=""

# MySQLクライアントツール設定
[client]
# 文字コード設定
default-character-set=utf8
